# NPM configuration file
shamefully-hoist=true
public-hoist-pattern=*
auto-install-peers=true
node-linker=hoisted
strict-peer-dependencies=false
public-hoist-pattern[]=*next*
public-hoist-pattern[]=*@next*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*@react*
public-hoist-pattern[]=*styled-components*
public-hoist-pattern[]=*@types*
